.navbar {
  background-color: #00bfff;
  padding: 12px 60px;
}

.navbar-content {
  display: flex;
  max-width: 1138px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 86px;
  aspect-ratio: 1.39;
  object-fit: contain;
}

.navigation {
  display: flex;
  gap: 20px;
}

.nav-link {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.nav-button {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  border-radius: 100px;
  background-color: #ff0;
  color: #00bfff;
  padding: 12px 30px;
}

@media (max-width: 991px) {
  .navbar {
    padding: 12px 20px;
  }

  .navbar-content {
    flex-wrap: wrap;
  }

  .nav-link {
    white-space: normal;
  }

  .nav-button {
    padding: 12px 20px;
  }
}
