.navbar {
  background-color: #00bfff;
  padding: 12px 60px;
}

.logo {
  width: 86px;
  aspect-ratio: 1.39;
  object-fit: contain;
}

.profile-icon {
  width: 50px;
  aspect-ratio: 1;
  object-fit: cover;
}

.navigation {
  display: flex;
  gap: 20px;
}

@media (max-width: 991px) {
  .navbar {
    padding: 12px 20px;
  }

  .navigation {
    flex-wrap: wrap;
  }
}
